header{
    background-color:#000;
    color:#FFF;
    padding: 10rem 0;
    text-align: center;
    background-image: url("../images/bread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul li a{
    color:#fff
}